<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link rel="Shortcut Icon" href='/bus.png'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>乌卡斯巴斯</title>
  </head>

  <body>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">乌卡斯巴斯</a>
          <a class="navbar-brand" href="/undo/{{page}}">返回上一步</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/restart/{{page}}">重新开始</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">当前页#{{page}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for i in range(total_page) %}
                {% if pages[i]['active'] %}
                  {% if i != page %}
                <li><a href="/{{i}}">{{i}}</a></li>
                  {% else %}
                <li class='disabled'><a href="#"><u>{{i}} (当前)</u></a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
                <li role="separator" class="divider"></li>
                <li><a href="/new_page/{{page}}" target='_blank'>新建页</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/del_page/{{page}}">删除当前页</a></li>
                <li><a href="/del_other_page/{{page}}">删除其它页</a></li>
                <li><a href="/del_all_page">删除全部页</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class='active'><a href="#"><strong>{{realname}}</strong></a></li>
            <li><a href="/logout">注销</a></li>
            <li><a href="/logout_all">所有终端下线</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    

    <div class="container">
      {% if status < 3 %}
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <p align=center>用户“<strong>{{realname}}</strong>”当前有 <strong>{{cnt}}</strong> 个终端同时在线。</p>
        <p align=center>当前所在页<strong>#{{page}}</strong>，存在总页数 <strong>{{total_page}}</strong> 。</p>
      </div>
      {% endif %}
      <div class="jumbotron">
        {% if current %}
          <div class="row">
            <h3 align="center"><strong> {{current}}</strong>
          </div>
        {% endif %}
        <div class='row'>
        <hr>

        {% if not login %}
          <form class="form-inline" action="" method="post" align="center">
            <div class="form-group">
              <a href='/{{page}}'><img src="{{url_for('static', filename=certcode_path)}}"></a> 
              <div class="form-group">
                <input type="text" class="form-control" placeholder="cert code" name="certcode">
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        {% elif status == 1 %}
          <form action="" method="post" id="date" align='center'>
            {% for date in dates %}
            <div class="radio">
              <label>
                <input type="radio" name="date" id="date" value="{{'%s|%s'%(date[0],date[1])}}" {{date[2]}}>{{date[1]}}
              </label>
            </div>          
            {% endfor %}
            <div class="checkbox">
              <div class='row'>
                <label>
                  <input type="checkbox" checked name='cache'>使用缓存（加速访问）
                </label>
              </div>
              <div class='row'>
                <label>
                  <input type="checkbox" name='query'>查询票数（极其缓慢）
                </label>
              </div>

            </div>

            <hr>
            <button type="submit" class="btn btn-default">提交</button>
          </form>
        {% elif status == 2 %}
          <form action="" method="post" id="route" align='center'>
            {% for route in route_list %}
            <div class="radio">
              <label>
                <input type="radio" name="route" id="route" value="{{'%s|%s'%(route[0], route[1])}}" {{route[2]}}>{{route[1]}} {{route[3]}}
              </label>
            </div>
            {% endfor %}
            <hr>
            <button type="submit" class="btn btn-default" {% if route_list[0][-1] == 'disabled' %} disabled {% endif %}>提交</button>
          </form>
        {% elif status == 3 %}
          <form action="" method="post" id="time" align='center'>
            <div class="radio">
              <label>
                <input type="radio" name="time" id="time" value=0 {{t1}}> {{s1}}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="time" id="time" value=1 {{t2}}> {{s2}}
              </label>
            </div>
            <hr>
            <button type="submit" class="btn btn-default">提交</button>
          </form>
        {% elif status == 4 %}
          <h3 align='center'  style="color:#FF0000">请勿关闭本页面，并保持网络状态良好，否则将无法抢票！</h3>
          <br/>
          <h4 align='center'>当前时间 {{cur_time}} <h4>
          <h4 align='center'>还需等待 {{eta}} <h4>
          {% if fresh %}
          <meta http-equiv="refresh" content="{{fresh}}">
          {% endif %}
        {% elif status == 5 %}
          {% if fresh %}
          <meta http-equiv="refresh" content="{{fresh}}">
          {% endif %}
        {% elif status == 6 %}
          <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
          <p align=center>{{wechat}}</p>
          <script src="/jQuery 1.11.1.js" type="text/javascript"></script>
          <script language="javascript" type="text/javascript" src="/jquery.qrcode.min.js"></script>
          <script type="text/javascript">
            $(function(){
              $("#code").empty();
              var msgCode = 'SUCCESS';
              var weixinMessage = '??';
              var urlCode = toUtf8('{{wechat}}');
              if(msgCode == "SUCCESS" && null != urlCode && "" != urlCode){
                $("#code").qrcode({
                  //render:($.browser.msie && $.browser.version < 9 ? "table" : "canvas"),
                  render:"table",
                  width: 260,
                  height:260,
                  text: urlCode
                });
              }else{
                $("#successDIV").css("display","none");
                $("#errorMessage").html(weixinMessage);
                $("#errorDiv").css("display","block");
              }
              //var str = toUtf8('??');
            })

            function toUtf8(str) {
              var out, i, len, c;
              out = "";
              len = str.length;
              for(i = 0; i < len; i++) {
                c = str.charCodeAt(i);
                if ((c >= 0x0001) && (c <= 0x007F)) {
                  out += str.charAt(i);
                } else if (c > 0x07FF) {
                  out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                  out += String.fromCharCode(0x80 | ((c >>  6) & 0x3F));
                  out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
                } else {
                  out += String.fromCharCode(0xC0 | ((c >>  6) & 0x1F));
                  out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
                }
              }
              return out;
            }
          </script>

          <!--主体 begin-->
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div id="code" ></div>
            </div>
            <div class="col-md-4"></div>
          </div>
         
          <!--主体 end-->

        {% endif %}
        </div>
      </div>
      {% if msg %}
        {% for each in msg %}
          {% if each[:5] == '[SUC]' %}
      <div class="alert alert-success" role="alert">
          {% elif each[:5] == '[WRN]' %}
      <div class="alert alert-warning" role="alert">
          {% elif each[:5] == '[ERR]' %}
      <div class="alert alert-danger" role="alert">
          {% else %}
      <div class="alert alert-info" role="alert">
          {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p align='center'> {{each}}</p>
      </div>
        {% endfor %}
        {% if error_list %}
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-1">错误代码</div>
          <div class="col-md-6">描述</div>
          <div class="col-md-3">建议</div>
        </div>
          {% for each in error_list %}
        <div class="row">
          <div class="col-md-1">{{each[0]}}</div>
          <div class="col-md-6">{{each[1]}}</div>
          <div class="col-md-3">{{each[2]}}</div>
        </div>
          {% endfor %}
      </div>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
